{
  "extends": "plugin:jest/recommended",
  "env": {
    "jest": true,
    "es6": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "import/extensions": ["error", "always", { "js": "never", "mjs": "never" }],
    "jest/valid-expect-in-promise": 0
  }
}
