{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "import/extensions": ["error", "always", { "js": "never", "mjs": "always" }],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never",
    }],
    "quote-props": ["error", "consistent"],
    "arrow-parens": 0,
    "no-confusing-arrow": 0,
    "no-nested-ternary": 0,
    "implicit-arrow-linebreak": 0,
    "arrow-body-style": 0,
    "quotes": 0,
  }
}
